:root {
  /* nord colorscheme with a custom-choose link color */
  --bg-color: #eceff4;
  --fg-color: #000000;
  --card-color: #e5e9f0;
  --card-hover-color: #d8dee9;
  --link-color: #0e67b0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* onedark colorscheme with nord card and card hover colors */
    --bg-color: #282c34;
    --fg-color: #ffffff;
    --card-color: #2e3440;
    --card-hover-color: #3b4252;
    --link-color: #61afef;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color)
}

a {
  color: var(--link-color);
}

hr {
  border: 0.1rem solid var(--card-hover-color);
}