/* styles to make markdown elements look nice */

blockquote {
  position: relative;
  margin-top: 1.5em;
}

blockquote::before {
  content: "";
  position: absolute;
  left: 1.6em;
  width: 0.8rem;
  height: 100%;
  border-radius: 999px;
  background: var(--card-hover-color);
}

blockquote::after {
  content: "“”";
  position: absolute;
  font-size: 3rem;
  color: var(--card-hover-color);
  top: -0.6em;
}

.highlighter-rouge {
  background-color: var(--card-color);
  border-radius: 0.5rem;
  padding: 0.1rem;
}

pre.highlight {
  margin: 1rem;
}