---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/colors.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/alignment.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/typography.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/markdown-styling.css" | relative_url }}">
    <title>{{ page.title }} - demo blog</title>
  </head>
  <body>
    <article>
      <p style="margin-bottom: 0;">{{ page.date | date: "%-d %B %Y" }}</p>
      <h1 class="main-title">{{ page.title }}</h1>
      {{ content }}
    </article>
  </body>
</html>
