p,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
small,
li,
blockquote,
dl {
  max-width: 40rem;
  margin: 0 auto;
}

table, img, .highlighter-rouge {
  margin: 0 auto;
}

.highlighter-rouge {
  max-width: 100%;
}

hr {
  max-width: 55rem;
}
