p,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
small,
ul,
ol,
blockquote,
dl {
  max-width: 40rem;
  margin: 0 auto 0.5rem;
}

table, img, .highlighter-rouge, hr {
  margin: 0 auto 0.5rem;
}

.highlighter-rouge {
  max-width: 100%;
}

hr {
  max-width: 55rem;
}

p, blockquote, dl, .highlighter-rouge {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

h1.main-title {
  font-size: 3rem;
}

img {
  border-radius: 0.5rem;
  display: block;
}
